.registration-form {
  background-color: var(--clr-white);
  padding: 3rem;
  min-width: 32rem;
}

.registration-form__input {
  display: block;
  padding: 0.5rem;
  border: 0;
  border-bottom: 1px solid black;
  width: 100%;
}

.registration-form__input:focus {
  outline: 0;
  border-bottom: 2px solid black;
}

.registration-form__control {
  position: relative;
}

.registration-form__error-message {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: red;
}