.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.25rem;
}

.form__input {
  display: block;
  padding: 0.5rem;
  border: 0;
  border-bottom: 1px solid black;
}

.form__input:focus {
  outline: 0;
  border-bottom: 2px solid black;
}

.form__btn {
  margin-top: 2rem;
}