.registration-form {
  background-color: var(--clr-white);
}

.registration-form__input {
  display: block;
  padding: 0.5rem;
  width: 100%;
}

.registration-form__label {
  font-weight: var(--font-medium);
  font-size: var(--fs-200);
}

.registration-form__error-message {
  font-size: var(--fs-100);
  font-weight: var(--font-medium);
  color: red;
}

.registration-form__server-error-message {
  color: var(--clr-red);
}

.registration-form__btn {
  width: 100%;
}
