.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.25rem;
}

.login-form__input {
  display: block;
  padding: 0.5rem;
  border: 0;
  border-bottom: 1px solid black;
  width: 100%;
}

.login-form__input:focus {
  outline: 0;
  border-bottom: 2px solid black;
}

.login-form__input.error {
  border-bottom: 1px solid red;
}

.login-form__control {
  position: relative;
}

.login-form__error-message {
  font-size: 14px;
  color: red;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.login-form__forgot-password-btn {
  color: var(--clr-gray);
  background: transparent;
  border: 0;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 14px;
  width: max-content;
  margin-left: auto;
}

.login-form__forgot-password-btn:hover {
  color: var(--clr-dark-violet);
}

.login-form__btn {
  margin-top: 2rem;
}

