.login-form {
  --flow-space: 1.5rem !important;

  background-color: var(--clr-white);
  min-width: 24rem;
}

.login-form__input {
  display: block;
  padding: 0.5rem;
  width: 100%;
}

.login-form__input.error {
  border: 2px solid red;
}

.login-form__error-message {
  color: var(--clr-red);
}

.login-form__forgot-password-btn {
  background: transparent;
  color: var(--clr-violet);
  border: 0;
  border-bottom: 1px solid var(--clr-violet);
  margin-left: auto;
  cursor: pointer;
  transition: all 0.3s ease;
}

.login-form__server-error-message {
  color: var(--clr-red);
  font-size: var(--fs-200);
}

.login-form__forgot-password-btn:hover {
  color: var(--clr-dark-violet);
}

.login-form__btn {
  width: 100%;
}

.login-form__registration-btn {
  text-decoration: none;
  color: var(--clr-violet);
  font-weight: var(--font-medium);
}

.login-form__registration-btn:hover {
  color: var(--clr-dark-violet);
}
