.hidden {
    display: none;
}

.primary-header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    transition: all 3s ease-in;
}

.nav__menu-list ul {
    background-color: white;
    position: fixed;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    width: 3rem;
    display: flex;
    flex-direction: column;
    padding: min(20vh, 15rem) 1rem;
    font-size: 1.24rem;
    gap: 1.5rem;
    transform: translateX(0%);
    transition: all 0.3s ease-in;
    overflow-y: scroll;
}

.nav__menu-list ul:hover {
    width: 8rem;
}

.nav__menu-list ul::-webkit-scrollbar {
    display: none;
}

.nav__menu-link {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
}

.primary-header__logo-image {
    max-width: 100%;
    display: block;
    width: 2rem;
}

.primary-header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 2rem;
}

.primary-header__button {
    background-color: transparent;
    border: none;
}