.submenu {
  position: absolute;
  background-color: white;
  border: 1px solid black;
  right: -105%;
  top: -1rem;
  z-index: 999;
}

.submenu__list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
}

.submenu__link {
  font-size: var(--fs-200);
}

