.submenu {
  position: absolute;
  background-color: white;
  right: -8rem;
  top: -5rem;
  z-index: 999;
  border: 1px solid green;
}

.submenu__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;

}

