:root {
  /* Font */
  --font-barlow-condensed: "Barlow Condensed", sans-serif;

  /* Font Sizes */
  /* 32 -> 48 | 28 -> 40 | 24 -> 14 | 20 -> 24 | 15 -> 16  */
  --fs-500: clamp(2rem, calc(1.65rem + 1.74vw), 3rem);
  --fs-400: clamp(1.75rem, calc(1.49rem + 1.3vw), 2.5rem);
  --fs-300: 1.5rem;
  --fs-200: clamp(1.25rem, calc(1.16rem + 0.43vw), 1.5rem);
  --fs-100: clamp(0.94rem, calc(0.92rem + 0.11vw), 1rem);

  /* Spacing */
  /* 16 -> 18 | 20 -> 24 | 24 -> 32 | 32 -> 48 | 48 -> 80 */
  --spacing-100: clamp(1rem, calc(0.96rem + 0.22vw), 1.13rem);
  --spacing-200: clamp(1.25rem, calc(1.16rem + 0.43vw), 1.5rem);
  --spacing-300: clamp(1.5rem, calc(1.33rem + 0.87vw), 2rem);
  --spacing-400: clamp(2rem, calc(1.65rem + 1.74vw), 3rem);
  --spacing-500: clamp(3rem, calc(2.3rem + 3.48vw), 5rem);

  /* Colors */
  --clr-violet: hsl(267, 89%, 65%);
  --clr-dark-violet: hsl(266, 77%, 54%);
  --clr-dark-blue: hsl(250, 60%, 36%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-gray: #868e96;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture {
  display: block;
  max-width: 100%;
}

button,
input {
  font: inherit;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

html {
  width: 100%;
  overflow-x: hidden;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: var(--font-barlow-condensed);
  background: linear-gradient(to right, var(--clr-dark-violet), var(--clr-dark-blue));
  position: relative;
  min-height: 100vh;
  line-height: 1.5;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

}

/* Hiding animations */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Visually Hidden Utility Class */
.visually-hidden {
  position: absolute;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

/* Utility Classes */
.flow>*+* {
  margin-top: 1rem;
}