:root {
  /* Font */
  --font-roboto: "Roboto", sans-serif;

  /* Font Sizes */
  /* 12 -> 13 | 13 -> 14 | 15 -> 16 | 16 -> 18| 20 -> 24 | 24 -> 32 */
  --fs-100: clamp(0.75rem, 0.7283rem + 0.1087vw, 0.8125rem);
  --fs-200: clamp(0.8125rem, 0.7908rem + 0.1087vw, 0.875rem);
  --fs-300: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
  --fs-400: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
  --fs-500: clamp(1.25rem, 1.163rem + 0.4348vw, 1.5rem);
  --fs-600: clamp(1.5rem, 1.3261rem + 0.8696vw, 2rem);

  /* Spacing */
  --flow-space: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
  --gap: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);

  /* Font Weights */
  --font-medium: 500;
  --font-bold: 700;

  /* Spacing */
  /* 16 -> 18 | 20 -> 24 | 24 -> 32 | 32 -> 48 | 48 -> 80 */
  --spacing-100: clamp(1rem, calc(0.96rem + 0.22vw), 1.13rem);
  --spacing-200: clamp(1.25rem, calc(1.16rem + 0.43vw), 1.5rem);
  --spacing-300: clamp(1.5rem, calc(1.33rem + 0.87vw), 2rem);
  --spacing-400: clamp(2rem, calc(1.65rem + 1.74vw), 3rem);
  --spacing-500: clamp(3rem, calc(2.3rem + 3.48vw), 5rem);

  /* Colors */
  --clr-violet: hsl(252, 78%, 64%);
  --clr-dark-violet: hsl(252, 59%, 48%);
  --clr-dark-blue: hsl(250, 60%, 36%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-gray: hsl(210, 7%, 56%);
  --clr-very-light-gray: hsl(225, 20%, 96%);
  --clr-red: hsl(0, 100%, 50%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture {
  display: block;
  max-width: 100%;
}

button,
input {
  font: inherit;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

html {
  width: 100%;
  overflow-x: hidden;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to right,
      var(--clr-violet),
      var(--clr-dark-violet));
  font-size: var(--fs-300);
  position: relative;
  min-height: 100vh;
  line-height: 1.5;
  overflow-x: hidden;
  /* <<<<<<< HEAD */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -99;

  /* =======
  display: grid;
  place-content: center;
>>>>>>> 8edbc368fb94d00285626c065932e822c0aa9ce7 */
}

/* Hiding animations */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Visually Hidden Utility Class */
.visually-hidden {
  position: absolute;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

/* Utility Classes */
.flow>*+* {
  margin-top: var(--flow-space);
}

/* Flexbox Utility Classes */
.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

/* Grid Utility */
.grid {
  display: grid;
}

.place-content-center {
  place-content: center;
}

.place-items-center {
  place-items: center;
}

@media (min-width: 48em) {
  .grid-cols-2 {
    grid-template-columns: 1fr 1fr;
  }
}

/* Gap Utility Class */
.gap {
  gap: var(--spacing-200);
}

/* Font Sizes */
.fs-100 {
  font-size: var(--fs-100);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-600 {
  font-size: var(--fs-600);
}

/* Text Utility Classes */
.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.font-bold {
  font-weight: var(--font-bold);
}

.font-medium {
  font-weight: var(--font-medium);
}